@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse/Norse-Bold.eot');
    src: url('./fonts/Norse/Norse-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Norse/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse/Norse-Bold.woff') format('woff'),
        url('./fonts/Norse/Norse-Bold.ttf') format('truetype'),
        url('./fonts/Norse/Norse-Bold.svg#Norse-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    height: 100vh;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

.titleText{
    display: flex;
    background-color: rgba(0, 0, 0, 0.523);
    width: 100%;
    justify-content: center;
    font-size: 3rem;
    align-items: center;

    position: relative;
    top: -180px;
}

.odinIMG{
    padding: 10px;
}

.imagePart{
    width: 575px;
    min-width: 575px;
    background-image: url(./background.jpg);
    background-size: 100%;
    display: flex;
    align-items: center;
    font-family: 'Norse';
    color: white;
}

.contentPart{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    background-color: #f9fafb;
}

.introText{
    margin: 10px;
    margin-left: 25px;
    width: 850px;
    line-height: 30px;
}

.theForm{
    font-size: 0.8rem;
    color: #464f5a;

    margin: 10px;
    margin-left: 25px;

    display: flex;
    flex-wrap: wrap;

    box-shadow: 0 3px 2px -3px rgb(91, 91, 91);
}

.mailDiv,
.Lname,
.Fname,
.passwordDiv,
.passwordCDiv,
.numberDiv{
    display: flex;
    flex-direction: column;
}

input{
    width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 25px;

    border: 1px solid black;


}

.signForm{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 25px;

    font-size: 1.5rem;
}

.submit{
    width: 200px;
    height: 45px;
    align-self: flex-start;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    background-color: #fc5130;
    color: whitesmoke;

    border: 1px solid black;
}